<%= form_with(model: contract, local: true) do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :loan_number %>
    <%= form.text_field :loan_number, id: :contract_loan_number %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :contract_state %>
  </div>

  <div class="field">
    <%= form.label :contract_type %>
    <%= form.text_field :contract_type, id: :contract_contract_type %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source, id: :contract_source %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
